
body{
	font-family:'微软雅黑';
	margin:0;
}
.da{
	width: 800px;
	height: 800px;
	border:1px solid black;
	position: relative;
	margin:0 auto;
	perspective:800px;
	-webkit-transform-style:preserve-3d;
}
.text{
	width: 400px;
	height: 200px;
	border:1px solid blue;
	text-align: center;
	font-size: 50px;
	line-height:200px;
	background-color: rgba(255,50,90,.6);
	border-radius: 20%;
	box-shadow: 0 0 20px  blue; 
	-webkit-transition:all .5s ease;
	position: absolute;
	top:250px;
	left:200px;
	/*-webkit-animation-name:aa;
	-webkit-animation-duration:12s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-iteration-count:infinite;*/
}
/*.a{-webkit-transform:translate3d(0,0,0);}
.b{-webkit-transform:translateZ(-230px) translateX(-200px);}
.c{-webkit-transform:translateZ(-230px) translateX(200px);}
.d{-webkit-transform:translateZ(-500px) translateX(-400px);}
.e{-webkit-transform:translateZ(-500px) translateX(400px);}*/
